# IDE
.idea
.vscode

# Maven
jena-fuseki-plus-server/target/

# Node / Vite
jena-fuseki-plus-ui/node_modules/
jena-fuseki-plus-ui/.vite/
jena-fuseki-plus-ui/dist/

# Fuseki 运行时数据（日志、TDB数据库文件）
jena-fuseki-plus-server/run/logs/
jena-fuseki-plus-server/run/databases/
jena-fuseki-plus-server/run/backups/
/jena-fuseki-plus-ui/.vscode/
.dev.pid
